/**************************************************************
# 
#   GLOBAL SETTING
#   Write by: Alexandre Lambertini
#   Date: 10/08/2023
#  
/**************************************************************/

:root {

    /* HAMBURGUER SETTING */
    --hamburguer-color: #4C5A49;
    
    /* SIDE-BAR SETTINGS */
    --sidebar-color: #F3f3f3;
    --sidebar-font-color:#fff;
    
    /* MENU SETTINGS  */
    --menu-size:1.4rem;
    --menu-font:#4C5A49;
    --menu-separator: #e2e2e293;
    --menu-case: normal;
    --menu-weight: normal;
    
    /* H5 SETTINGS */
    --title-color:#333;
    --title-size:1.2rem;
    --title-case: uppercase;
    --title-weight: normal;
}

@media (width >= 992px) {
    hamburguer-menu {
        display: none;
    }
    
    #sidebar h5 {
        display: none;
    } 
}


@media (width <= 992px) {


    hamburguer-menu {
        display: block;
    }


    #sidebar {
        color: var(--sidebar-font-color);
        flex-direction: column;
        top: 0;
        left: -1500px;
        position: fixed;
        width: 50%;
        height: 100vh;
        background: var(--sidebar-color);
        padding: 0% 10%;
        padding-top: 100px;
        box-sizing: border-box;
        z-index: 1;
        overflow: hidden;
        transition: left .4s ease-in-out;
    }


    #menu {
        position: relative;
        height: 25px;
    }

    #menu div.active {
        width: 100%;
        display: block;
        left: 0;
    }

    #menu h5 {
        display: block;
        color:var(--title-color);
        font-size: var(--title-size);
        margin-bottom: 30px;
        margin-top: 60px;
        text-transform: var(--title-case);
        font-weight: var(--title-weight);
    }

    #menu h5:first-child {
        margin-top: 0;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        position: relative;
        list-style: none;
        align-items: start;
    }

    #menu ul li {
        position: relative;
        width: 100%;
        border: 0;
    }

    #menu ul li::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -20px;
        border-bottom: 1px solid var(--menu-separator);
    }

    #menu ul li a {
        font-size: var(--menu-size);
        border: none;
        width: 100%;
        display: block;
        box-sizing: border-box;
        color:var(--menu-font);
        text-transform: var(--menu-case);
        font-weight: var(--menu-weight);
    }

    #menu ul li a:hover {
        background: none;
        border: 0;
    }

    #hamburguer {
        display: block;
        position: absolute;
        right: 0;
        z-index: 100;
    } 
}


@media (width <= 922px) {

    #sidebar {
        width: 100%;
        padding-top: 60px;

        h5 {
            margin-bottom: 40px
        }
    }

    .menu-item {
        
        width: 100%;

        a {
            font-size: 1rem;
        }
    }



}
